div.container{
    display: flex;
    margin: 10px 30px 10px 30px;
    padding: 2%;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:  space-around;
}

.container >div{
    /*border: 1px dotted green;*/
    padding: 5px;
    min-width: 300px;
    margin-bottom: 20px;

}

.card-item{
    height: 350px;
    width: 300px;

}
.sub-header{
    font-size: large;
    margin: 50px 0px 0px 70px;
    text-transform: uppercase;
    font-family: "Droid Sans Mono";
    background-color: thistle;
    padding: 10px;
    color: indigo;

}
